body {
	font-family: Tahoma, Calibri, Verdana, Arial, sans-serif;
}

.shadowed {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    box-shadow: 10px 10px 5px #888;
    -moz-box-shadow:10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    padding: 5px 5px 5px 15px;
    border: 1px solid #000;
    margin-bottom: 10px;
    margin-right: 10px;
    
    background-color: white;
}

.statusMessage {
    font-family: Tahoma;
    font-size: 10px;
    width: 100px;
    float: left;
    line-height: 20px;
}

.top {
	position: fixed;
	top: 0px;
}

.bottom {
	position: fixed;
	bottom: 0px;
}

.right {
	position: fixed;
	right: 0px;
}

.log-message {
	font-family: courier, monospace;
	padding-left: 20px;
}

.message {
	border-top: 1px solid #b0b0ff;
	background-color: #f0f0ff;
}

.avatar {
	border: 0px;
	width: 48px;
	height: 48px;
	vertical-align: text-top;
}

.messagebody {
	padding-left: 55px;
}

.screenName {
	font-style: italic;
	padding-right: 10px; 	
}

.time {
	font-style: italic;
}

.profile {
	float: left;
}

.clear {
	clear: both;
	height: 10px;
	background-color: white;
}

label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 10px;
}

#subscribeTo
{
    width: 400px;
}

#topicList
{
    overflow: auto;
}

#topicList li
{
    float: left;
    clear: both;
    cursor: pointer;
    text-decoration: underline;
}

#topicList li: hover
{
    color: #E7E7E7;
}

#latest_update
{
    margin-top: 20px;
    clear: both;
}

#tweet_rate_chart
{
    float: left;
}

#tweet_stats
{
    float: left;
    margin-left: 30px;
    clear: right;
}

#tweet_stats thead
{
    font-weight: bold;
}

#topic_tweet_count total
{
    margin-left: 20px;
}

#topic_tweet_count .interval
{
    margin-left: 20px;
}